.index {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .overlap-group-wrapper {
  height: 810px;
  overflow: hidden;
  width: 1440px;
}

.index .overlap-group {
  height: 872px;
  left: -92px;
  position: relative;
  top: -31px;
  width: 1624px;
}

.index .background-normal {
  height: 872px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1624px;
}

.index .img {
  height: 810px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 1440px;
}

.index .home-topic-instance {
  left: 614px !important;
  position: absolute !important;
  top: 236px !important;
}
